<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
    <th:block layout:fragment="title">
        <title>리스트 페이지</title>
    </th:block>

    <th:block layout:fragment="content">
        <div class="page_tits">
            <h3>통계</h3>
            <p class="path"><strong>현재 위치 :</strong> <span>통계</span> <span>시설별 사용 통계</span> <span>목록</span></p>
        </div>

        <div class="content">
            <section>
                <!--/* 검색 */-->
                <div class="search_box">
                    <form id="searchForm" onsubmit="return false;" autocomplete="off">
                        <div class="sch_group fl">
                            <select title="검색 유형 선택">
                                <option value="">전체 검색</option>
                                <option value="">사용자명</option>
                                <option value="">성별</option>
                                <option value="">단말기ID</option>
                            </select>
                            <input type="text" placeholder="키워드를 입력해 주세요." title="키워드 입력"/>
                            <button type="button" class="bt_search" onclick="javascript: alert('준비 중입니다.');"><i class="fas fa-search"></i><span class="skip_info">검색</span></button>
                        </div>
                    </form>
                </div>
                
                <div>
                
                </div>

                <!--/* 리스트 */-->

                <!--/* 버튼 */-->
                <p class="btn_set tr">
                    <!-- <a th:href="@{/post/write.do}" class="btns btn_st3 btn_mid">글쓰기</a> -->
                </p>
            </section>
        </div> <!--/* .content */-->
    </th:block>
</html>