<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
    <th:block layout:fragment="title">
        <title>동구동락 | QR생성</title>
    </th:block>

    <th:block layout:fragment="content">
        <div class="content-title d-flex justify-s align-c">
        	<p class="f-title-sm f-b">QR생성</p>
            <p class="path f-add f-dark80 tab-none">
            	<span class="f-b">현재 위치 :</span>
            	<span>QR생성</span>
            	<span>QR생성</span>
            </p>
        </div>

        <div id="content" class="content">
            <section>
                <!--/* 검색 */-->
                <div class="search_box d-flex align-c bg-dark5">
                	<span class="search-title f-b tab-none">조건</span>
                    <div class="sch_group d-flex">
                       <select id="fcltCd" name="fcltCd" title="시설 선택">
                           <option value="">선택</option>
					       <option value="01">복사 및 스캔</option>
					       <option value="02">동구식도락</option>
					       <option value="03">다락방(최대3시간)</option>
					       <option value="04">다목적실(3명 이상 신청)</option>
					       <option value="05">PC사용</option>
					       <option value="06">공유주방</option>
                       </select>
                       <button type="button" class="bt_search bg-dark80 f-white f-b" onclick="createQr();">
							<svg style="fill:white;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
							<span class="skip_info">생성</span>
					   </button>
					   <button type="button" class="bt_search bg-dark80 f-white f-b" onclick="download();">다운로드</button>
                    </div>
                </div>
                <div class="tb-box">
                  	<div style="height: 400px; width: 400px;" id="canvas"></div>
                  	<div id="url"></div>
                </div>
            </section>
        </div> <!--/* .content */-->
    </th:block>
    <th:block layout:fragment="script">
        <script th:inline="javascript">
        /*<![CDATA[*/
        	var qrCode;
        	$(document).ready(function(){
        		$('.has_sub').find('a').attr('class', 'off');

        		$("#qrMenu").attr('class','on');
        		$("#qrMenu1").attr('class','on');
        	});


          	function createQr() {
          		var url = "https://dongguyouth.co.kr/post/write.do?fcltCd=" + $('#fcltCd').val();
          		qrCode = new QRCodeStyling({
          	        width: 400,
          	        height: 400,
          	        type: "svg",
          	        data: url,
          	        dotsOptions: {
          	            color: "#4267b2",
          	            type: "rounded"
          	        },
          	        backgroundOptions: {
          	            color: "#e9ebee",
          	        },
          	        imageOptions: {
          	            crossOrigin: "anonymous",
          	            margin: 20
          	        }
          	    });

          		$('#canvas').empty();
          	    qrCode.append(document.getElementById("canvas"));
          	    $('#url').html("생성 url : " + url);
          	}

          	function download() {
          		if($('#canvas').children('svg').length > 0) {
          			qrCode.download({ name: "qr", extension: "jpeg" });
          		} else {
          			alert("먼저 QR코드를 생성해주세요.");
          		}
          	}
        /*]]>*/
        </script>
    </th:block>
</html>