<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
    <th:block layout:fragment="title">
        <title>동구동락 | 이용자 목록</title>
    </th:block>

    <th:block layout:fragment="content">
        <div class="content-title d-flex justify-s align-c">
        	<p class="f-title-sm f-b">계정 정보 변경</p>
            <p class="path f-add f-dark80 tab-none">
            	<span class="f-b">현재 위치 :</span>
            	<span>계정</span>
            	<span>계정 정보 변경</span>
            </p>
        </div>

        <div id="content" class="content">
            <section>
            	<div class="info-tab bg-dark5 t-l">
            		<table>
		    	        <colgroup>
							<col style="width:20%;"/>
							<col style="width:80%;"/>
            			</colgroup>
						<tbody>
            				<tr>
            					<th class="f-b">이름</th>
            					<td><input type="text" id="userNm" name="userNm" maxlength="10" readonly th:value="${member.userNm}"/></td>
            				</tr>
            				<tr>
            					<th class="f-b">아이디</th>
            					<td><input type="text" id="userId" name="userId" maxlength="10" readonly th:value="${member.userId}"//></td>
            				</tr>
            				<tr>
            					<th class="f-b">비밀번호</th>
            					<td><input type="password" id="userPw" name="userPw" maxlength="10" /></td>
            				</tr>
            				<tr>
            					<th class="f-b">비밀번호 확인</th>
            					<td><input type="password" id="userPwChk" name="userPwChk" maxlength="10" /></td>
            				</tr>
            			</tbody>
            		</table>
            	</div>
            	<div class="d-flex justify-c w-100">
            		<button type="button" class="on f-b info-btn bg-dark10" onclick="save();">수정하기</button>
            	</div>
            </section>
        </div> <!--/* .content */-->
    </th:block>
    <th:block layout:fragment="script">
        <script th:inline="javascript">
        /*<![CDATA[*/
        	$(document).ready(function(){
        		$('.has_sub').find('a').attr('class', 'off');

        		$("#admMenu").attr('class','on');
        		$("#admMenu1").attr('class','on');
        	});

        	/* 저장 버튼 이벤트 */
        	function save() {
        		if(chkPwd()) {
        			var param = {
                        userPw: $("#userPw").val()
                    };
        			var url = '/adm/admUpdate.do';
                	$.ajax({
                		url : url,
                	    type : 'POST',
                	    data: param,
                	    success : function(data) {
                	    	alert("성공적으로 비밀번호가 수정되었습니다.");
                	    },
                	    error : function(e) {
                	    	alert("비밀번호 수정이 실패하였습니다.");
                	    }
                	  });
        		}
        	}

        	/* 패스워드 체크 */
          	function chkPwd() {
          		if($("#userPw").val() != ($("#userPwChk").val())) {
          			alert("패스워드가 다릅니다. 패스워드를 확인해주세요.");
          			return false;
          		}
          		return true;
          	}

          	function download() {
          		qrCode.download({ name: "qr", extension: "jpeg" });
          	}
        /*]]>*/
        </script>
    </th:block>
</html>